---
const endpoint = '/getUsers'
const baseUrl = import.meta.env.API_BASE_URL || 'http://localhost:3000';
const response = await fetch(`${baseUrl}/api${endpoint}`);
const records = await response.json();
console.log(records);
---

<ul>
  {records.map((user: { username: any }) => <li>{user.username}</li>)}
</ul>
